/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

body {
  display: block;
  overflow: auto;
  min-height: 100vh;
  
  background-color: #dcdcdc;
  font-family: quicksand;
  background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );
  background-repeat: no-repeat;
  /* height: 100%; */
}

a {
  color: #00b7ff;
}

p {
  color: blue;
}

h1 {
  font-family: quicksand;
  font-size: 45px;
  padding: 0;
}

.top {
  padding: 8px;
}
.request {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  padding: 4px;
}

select {
  padding: 7px;
  background-color: white;
  margin: 4px;
  border: none;
  border-radius: 5px;
  font-family: quicksand;
  font-size: 20px;
}

input {
  margin: 4px;
  background-color: white;
  border: none;
  width: 100%;
  border-radius: 5px;

  font-family: quicksand;
  font-size: 20px;
}

button {
  margin: 4px;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;

  font-family: quicksand;
  font-size: 20px;
}

.response {
  background-color: white;
  border-style: none;
  border-radius: 5px;
  padding: 2%;
}

span{
  font-size: 20px;
}

.status {
  color: white;
}

pre {
  font-family: quicksand;
  font-size: 18px;
}
